@model RecipeBlogProject.Models.Recipe

@{
    ViewData["Title"] = "AdminRecipeDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body>
    <div class="container">
      <div class="header-details">
            <div style="padding-inline-start: 1.5rem;">
                <h1>Recipe Details</h1>
                <h4>@Model.Receipename</h4>
            </div>
            <div class="image-holder">
                <img src=@Url.Content("~/Images/recipes-images/" + Model.ImagePath) asp-append-version="true"
                     style="border-radius:20%;" width="200" height="200" />
            </div>
      </div>
        <div>
           
           
            <hr />
            <dl class="row row-dl">
                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Receipename)</dt>
                <dd class="col-sm-4">@Html.DisplayFor(model => model.Receipename)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Price)</dt>
                <dd class="col-sm-4">@Html.DisplayFor(model => model.Price)$</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Ingredients)</dt>
                <dd class="col-sm-4">@Html.DisplayFor(model => model.Ingredients)</dd>

                <dt class="col-sm-2">Category</dt>
                <dd class="col-sm-4">@Html.DisplayFor(model => model.Recipecategories.FirstOrDefault().Category.Categoryname)</dd>

                <dt class="col-sm-2">Approved</dt>
                 @if (Model.Isapproved)
                    {
                        <dd class="col-sm-4" style="color:lightgreen">Approved</dd>
                    }
                else
                {
                    <dd class="col-sm-4" style="color:red">Not Approved</dd>

                }

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Chef)</dt>
                <dd class="col-sm-4">@Html.DisplayFor(model => model.Chef.Person.Firstname) @Html.DisplayFor(model => model.Chef.Person.Lastname)</dd>

            </dl>
        </div>
        <hr />
        @if(Model.Recipepayments.Count() > 0)
        {
            <div class="container w-100" style="margin:0px;display:flex; flex-direction:column; justify-content:space-around;">
               
                <div class="row mb-5 mt-2">
                    <div class="col-lg">
                        <div class="card shadow">
                            <div class="card-header py-4 ">
                               <div>
                                    <h6 class="m-0 font-weight-bold text-primary">Recepie Payment</h6>
                               </div>
                                <div class="btn-export-container">
                                    <button class="btn btn-outline-danger" id="btnPdfExport" value="Export">Export to pdf</button>
                                    <button class="btn btn-outline-success" id="btnExcelExport" value="Export">Export to excel</button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="RecepiePaymentTable" style="width:100%;" cellspacing="0">
                                        <thead>
                                            <tr style="text-align:center">
                                                <th>
                                                    User
                                                </th>
                                                <th>
                                                    Total Amount
                                                </th>
                                                <th>
                                                    Payment Date
                                                </th>
                                                <th>
                                                    
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var payment in Model.Recipepayments)
                                            {
                                                <tr>
                                                    <td>
                                                        @payment.User?.Person?.Firstname @payment.User?.Person?.Lastname
                                                    </td>
                                                    <td>
                                                        @payment.Totalamount $
                                                    </td>
                                                    <td>
                                                        @payment.CreatedDate
                                                    </td>

                                                    <td>
                                                        <button class="btn btn-outline-info">Download</button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
       
        <div class="actions">
            <a asp-action="AdminRecipes">Back to List</a>
        </div>
    </div>
</body>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    .header-details{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container {
        max-width:unset;
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
    }

    h1, h4 {
        color: #333;
    }

    hr {
        border: 1px solid #ddd;
    }

    dl {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
       
    }

    .row-dl {
        padding-inline-start: 1.5rem;
    }
    dt, dd {
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
        display:flex;
        align-items:center;
    }

    dt {
        font-weight: bold;
        color: #555;
        text-align: right;
        padding-right: 20px;
    }

    dd {
        margin: 0;
        color: #333;
    }

    .actions {
        text-align: center;
        margin-top: 20px;
    }

        .actions a {
            color: #007bff;
            text-decoration: none;
            padding: 10px 20px;
            border: 1px solid #007bff;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }

            .actions a:hover {
                background-color: #007bff;
                color: #fff;
            }

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>


<script type="text/javascript">
    $(function () {
        $("#btnExcelExport").click(function () {
            $("#RecepiePaymentTable").table2excel({
                filename: "RecepiePayment.xls"
            });
        });
    });
    $("#btnPdfExport").click(function () {
        generatePDF('RecepiePaymentTable', 'RecepiePayment.pdf', [3]);
    });
</script>