@model IEnumerable<RecipeBlogProject.Models.Category>

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container w-100" style="margin:0px;display:flex; flex-direction:column; justify-content:space-around;">
    <div class="row my-4">
        <a asp-action="CreateCategory" class="btn btn-primary p-2" style="margin-left:0.9rem;"><span><Strong>Create Category</Strong></span></a>
    </div>
    <div class="row mb-5 mt-2 w-100">
        <div class="col-lg">
            <div class="card shadow">
                <div class="card-header py-4 ">
                  <div>
                        <h6 class="m-0 font-weight-bold text-primary">Categories</h6>
                  </div>
                    <div class="btn-export-container">
                        <button class="btn btn-outline-danger" id="btnPdfExport" value="Export">Export to pdf</button>
                        <button class="btn btn-outline-success" id="btnExcelExport" value="Export">Export to excel</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="categoriesTable" style="width=100%" cellspacing="0">
                            <thead>
                                <tr style="text-align:center">
                                    <th>
                                        @Html.DisplayNameFor(model => model.Categoryname)
                                    </th>
                                    <th>
                                        Enabled Status
                                    </th>
                                    <th>
                                            Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Categoryname)
                                        </td>
                                        <td>
                                            @if (item.IsDeleted)
                                            {
                                                <p>Disabled</p>
                                            }
                                            else
                                            {
                                                <p>Enabled</p>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-secondary" asp-action="CategoryEdit" asp-route-id="@item.id">Edit</a> |
                                            <a class="btn btn-info" asp-action="CategoryDetails" asp-route-id="@item.id">Details</a> |
                                            @if (item.IsDeleted)
                                            {
                                                <a class="btn btn-primary" asp-action="CategoryUnDelete" asp-route-id="@item.id">Enable</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-danger" asp-action="CategoryDelete" asp-route-id="@item.id">Disable</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    td {
        text-align: center;
    }
    @@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: unset;
    }

        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
}
</style>
<script type="text/javascript">
    $(function () {
        $("#btnExcelExport").click(function () {
            $("#categoriesTable").table2excel({
                filename: "Categories.xls"
            });
        });
    });
    $("#btnPdfExport").click(function () {
        generatePDF('categoriesTable', 'Categories.pdf', [3]);
    });
</script>