@model IEnumerable<RecipeBlogProject.Models.Chef>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container w-100" style="max-width:unset;margin:0px;display:flex; flex-direction:column; justify-content:space-around;">
    <h4>Manage Chefs</h4>
    <div class="row mb-5 mt-2">
        <div class="col-lg">
            <div class="card shadow">
                <div class="card-header py-4 ">
                   <div>
                        <h6 class="m-0 font-weight-bold text-primary">Chefs</h6>
                   </div>
                    <div class="btn-export-container">
                        <button class="btn btn-outline-danger" id="btnPdfExport" value="Export">Export to pdf</button>
                        <button class="btn btn-outline-success" id="btnExcelExport" value="Export">Export to excel</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="chefTable" style="width=100%" cellspacing="0">
                            <thead>
                                <tr style="text-align:center">
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Role</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                     <th>
                                            Enabled Status
                                     </th>
                                    <th>
                                        
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Person.Firstname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Person.Lastname)
                                        </td>
                                        <th>
                                            @Html.DisplayFor(modelItem => item.Person.RoleId)
                                        </th>
                                        <th>
                                            @Html.DisplayFor(modelItem => item.Person.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayFor(modelItem => item.Person.Phone)
                                        </th>
                                            @if (!item.IsDeleted)
                                            {
                                            <td class="">Enabled</td>
                                            }
                                            else
                                            {
                                            <td class="">Disabled</td>

                                            }
                                         
                                        <td>
                                            <a class="btn btn-info" asp-action="AdminChefDetails" asp-route-id="@item.id">Details</a> |
                                            @if(item.IsDeleted)
                                            {
                                                <a class="btn btn-primary" asp-action="EnableChef" asp-route-id="@item.id">Enable</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-danger" asp-action="DeleteChef" asp-route-id="@item.id">Disable</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
     th ,td{
        text-align:center;
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>


<script type="text/javascript">
    $(function () {
        $("#btnExcelExport").click(function () {
            $("#chefTable").table2excel({
                filename: "Chefs"
            });
        });
    });
    $("#btnPdfExport").click(function () {
        generatePDF('chefTable', 'Chefs.pdf', [6]);
    });
</script>